* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.section {
    margin: 2% 0;
}

.box {
    margin: 2%;
}

.box-left {
    float: left;
    margin-right: 2%;
    width: 150px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
}

.box-first-right {
    float: right;
    margin-left: 2%;
    width: 150px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
}

.box-right {
    float: left;
    margin-right: 2%;
    width: 150px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
}

.main-box-right-item {
    width: 320px;
    float: right;
}

.box-small-right {
    float: left;
    margin-top: 4%;
    margin-right: 2%;
    width: 75px;
    height: 70px;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 0;
}

.main-box-item-center {
    width: 575px;
    margin: 2% auto;
}

.box-big-center {
    float: left;
    margin-right: 4%;
    width: 300px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
}

.box-center {
    float: left;
    margin-top: 2%;
    width: 250px;
    height: 120px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 5%;
}

.main-box-item-right {
    float: right;
    width: 470px;
    margin: 2%;
}

.box-big-right {
    float: left;
    margin-right: 4%;
    width: 250px;
    height: 250px;
    border: 2px solid rgb(0, 0, 0);
}

.box-right-right {
    float: left;
    margin-bottom: 24px;
    width: 200px;
    height: 113px;
    border: 2px solid rgb(0, 0, 0);
}